// Colors
$c-black: #000000;
$c-light-black: #111111;
$c-white: #ffffff;
$c-basic-green: #68b738;
$c-basic-green-2: #5eaa2f;
$c-basic-grey: #f2f2f2;
$c-basic-gray-2: #ebebeb;
$c-special-grey: #cdcdcd;
$c-special-grey-2: #666666;
$c-dark-grey: #444444;
$c-dark-grey-2: #222222;
$c-status-error: #ff8282;
$c-light-grey: #eaeaea;
$c-input-border: #e7e7e7;
$c-border-menu: #e6e6e6;
// Viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;
